@import "variables.css";

body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 60px;
  margin-top: 0;
  background-image: url("../../public/Background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.task-manager {
  background-color: rgb(255, 253, 253);
  border: 3px solid rgb(0, 0, 0);
  border-radius: var(--theme-border-rad);
  width: min(90%, 50rem);
  height: 520px;
  box-shadow: 0 10px 70px 0 rgba(0, 0, 0, 0.7);
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #666;
  padding: 1rem;
  background: rgb(208, 210, 210);
  border-radius: 0.8rem 0.8rem 0 0;
}

.title {
  text-align: center;
  font-family: var(--head-theme-font);
}

.title-img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.input-task-row {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.edit-button,
.save-button,
.delete-button {
  cursor: pointer;
  padding: 6px 10px;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 0px 3px 3px 0px rgb(0 0 0/ 0.4);
}

.delete-button {
  color: red;
  background-color: rgb(245, 216, 221);
}

.clear-button {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
  font-family: var(--matter-font);
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem 0.9rem;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0/ 0.4);
}

.add-button {
  margin: 6px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  color: rgb(255, 249, 249);
  background-color: blue;
  font-family: var(--matter-font);
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: rgba(56, 56, 56, 0.2);
  box-shadow: 0px 5px 5px 0px rgb(0 0 0/ 0.4);
  transition: 0.2s ease-in-out;
}

.counts-and-clear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-family: var(--matter-font);
  font-weight: 600;
}

.input-main-section {
  box-shadow: 0px 5px 5px 0px rgb(0 0 0/ 0.4);
}

.task-input {
  flex: 1;
  margin: 6px;
  padding: 8px;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 5px 0px rgb(0 0 0/ 0.4);
}

.task-list {
  flex: 1;
  height: 340px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  border: none;
  border-radius: 15px;
  margin: 10px 0 0;
  background-color: white;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}

.task-text {
  flex: 1;
}

.edit-input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.completed {
  text-decoration: line-through;
  color: #666;
}

.checkbox-button {
  cursor: pointer;
  border: none;
}

.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-family: var(--matter-font);
  font-weight: 800;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
}

.pen-icon,
.delete-icon {
  padding-right: 5px;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.delete-icon-clear {
  margin-top: 0.3rem;
  padding-right: 5px;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.clear-button-glow {
  animation: clearGlow 1.1s ease-in-out infinite alternate;
}

@keyframes clearGlow {
  from {
    background-color: rgb(245, 245, 220);
  }
  to {
    color: #ccc;
    background-color: rgb(48, 81, 70);
  }
}
