@import "./variables.css";

body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding-top: 60px;
  margin-top: 0;
  background-image: url("/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.task-manager {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 253, 253);
  border: 3px solid rgb(0, 0, 0);
  border-radius: var(--theme-border-rad);
  width: min(90%, 50rem);
  height: 90vh;
  box-shadow: 0 10px 70px 0 rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #666;
  padding: 1rem;
  background-color: #0c131d;
  /* background-image: url("../lexora-logo.svg"); */
  border-radius: 0.6rem 0.6rem 0 0;
}

.title {
  text-align: center;
  font-family: var(--head-theme-font);
}

.affiliation {
  font-family: var(--oswald-narrow);
  color: #ffffff;
  font-size: 0.6rem;
  text-align: end;
  margin-top: 0;
  padding: 0 1.2rem;
}

.lifted {
  font-style: italic;
  font-weight: 800;
  color: goldenrod;
}
.lexora-logo {
  height: 7rem;
  margin: 0;
}

.title-img {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.input-task-row {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.8rem;
  padding: 0 0.9rem;
}

@media (min-width: 425px) {
  .task-manager {
    padding-top: 0;
    height: 100svh;
  }

  .task-text {
    width: 3rem;
  }

  .input-task-row {
    flex: grid;
    grid-template-rows: 5rem 1rem minmax(0, 1fr);
  }
}

.input-main-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}

.edit-button,
.save-button,
.delete-button {
  cursor: pointer;
  border: 1px solid #666;
  font-weight: 500;
  gap: 3px;
  font-family: var(--matter-font);
  font-weight: 800;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
}

.delete-button {
  color: rgb(255, 249, 249);
  background: linear-gradient(10deg, rgb(162, 80, 80), red);
}

.clear-button {
  display: flex;
  cursor: pointer;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 12px 0px;
  font-family: var(--matter-font);
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid #666;
  padding: 0.5rem 0.9rem;
  transition: 0.5s ease-in-out;
}

.add-button {
  margin: 6px;
  cursor: pointer;
  border: none;
  font-family: var(--matter-font);
  border-radius: 0.3rem;
  padding: 6px 10px;
  color: rgb(255, 249, 249);
  background: linear-gradient(90deg, rgb(124, 187, 208), blue);
  font-family: var(--matter-font);
  font-size: 0.9rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.counts-and-clear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.3rem;
  font-family: var(--matter-font);
  font-weight: 600;
}

.task-input {
  flex: 1;
  margin: 6px;
  padding: 8px;
  font-family: var(--matter-font);
  border-radius: 0.2rem;
  border: 1px solid #ccc;
}

.priority-select-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.priority-menu {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.priority-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.priority-circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
}

.priority-select,
.categories-select {
  margin: 6px;
  padding: 8px;
  border-radius: 0.2rem;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: var(--matter-font);
  font-weight: 600;
}

.task-priority-circle {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}

.task-meta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.6rem 0.3rem;
  border-bottom: 1px solid #ccc;
}

.task-list {
  overflow-y: auto;
  padding: 1rem;
}

.category-task {
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.task-text {
  flex: 1;
  font-family: var(--matter-font);
}

.edit-input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.completed {
  text-decoration: line-through;
  color: #666;
}

.checkbox-button {
  cursor: pointer;
  border: none;
}

.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-family: var(--matter-font);
  font-weight: 800;
  padding: 0.5rem 0.9rem;
  border-radius: 0.3rem;
}

.pen-icon,
.delete-icon {
  padding-right: 5px;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.delete-icon-clear {
  margin-top: 0.3rem;
  padding-right: 5px;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.clear-button-glow {
  animation: clearGlow 1.1s ease-in-out infinite alternate;
}

@keyframes clearGlow {
  from {
    background-color: rgb(245, 245, 220);
  }
  to {
    color: #ccc;
    background-color: rgb(48, 81, 70);
  }
}
