@import "./variables.css";

.body,
.html {
  height: 100%;
}

.title-container {
  border: none;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
  background: #0c131d;
}

.info-container {
  background: linear-gradient(5deg, #121c2b, #22395b);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  line-height: 2.5rem;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn,
.username-input,
.password-input {
  padding: 0.2rem 0.4rem;
  font-family: var(--head-theme-font);
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.info-container {
  border: 2px solid black;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  width: 25rem;
}

.mindful {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  color: antiquewhite;
}

.mindful-text,
.question {
  color: rgb(187, 213, 237);
}

.form {
  margin: 1.5rem;
}

.email,
.password,
.remember {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.email,
.password,
.remember,
.submit-btn,
.username-input,
.password-input,
.partition {
  font-weight: 600;
}

.email,
.password {
  display: flex;
  gap: 1rem;
}

.mindful-logo {
  height: 3rem;
  width: 3rem;
}
