@import "./variables.css";

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
  background: linear-gradient(5deg, #0c131d, #2f6bff);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  line-height: 2.5rem;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn,
.username-input,
.password-input {
  padding: 0.2rem 0.4rem;
  font-family: var(--head-theme-font);
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.info-container {
  border: 2px solid black;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  width: 25rem;
}

.mindful {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  color: antiquewhite;
}

.mindful-logo {
  height: 3rem;
  width: 3rem;
}
