* {
  box-sizing: border-box;
}

.html,
.body,
#root {
  min-height: 100%;
}

.body {
  margin: 0;
}

.main {
  min-height: 100svh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  width: 15rem;
  padding: 0.5rem;
  gap: 0.2rem;
  width: 25%;
}

.sign-up-btn {
  margin-top: 1.5rem;
  align-self: center;
}

.name-container,
.email-container,
.phone-container,
.password-container,
.password-confirm-container {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.form-section,
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0c131d;
  padding: 0.5rem;
}

.name,
.first-name-input,
.last-name-input,
.email-reg,
.email-input,
.phone,
.phone-input,
.password-reg,
.password-input-reg,
.confirmation-password-reg,
.confirmation-password-input,
.or {
  padding: 0.2rem 0.4rem;
  font-family: var(--head-theme-font);
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.name,
.email-reg,
.phone,
.password-reg,
.confirmation-password-reg,
.or {
  font-weight: 600;
  color: azure;
}

.sign-up-btn,
.google-signin-btn {
  padding: 0.4rem 0.5rem;
  font-family: var(--head-theme-font);
  font-weight: 600;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 15rem;
  border: none;
  color: azure;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #9494df, #5050e6);
  cursor: pointer;
}

.form-section {
  flex: 1;
  width: 100%;
  justify-content: center;
}
