@import "./variables.css";

.body,
.html {
  box-sizing: border-box;
  height: 100svh;
}

.title-container {
  border: none;
}

.title {
  margin: 0;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
  background: #0c131d;
}

.info-container {
  background: linear-gradient(5deg, #121c2b, #22395b);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  line-height: 2.5rem;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-input,
.password-input {
  padding: 0.2rem 0.4rem;
  font-family: var(--head-theme-font);
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.submit-btn {
  padding: 0.4rem 0.5rem;
  font-family: var(--head-theme-font);
  line-height: 1.5rem;
  border: none;
  color: azure;
  border-radius: 0.2rem;
  background: linear-gradient(90deg, #9494df, #5050e6);
}

.info-container {
  border: 2px solid black;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  width: 23rem;
}

.mindful {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-theme-font);
  color: antiquewhite;
}

.mindful-text,
.question {
  color: rgb(187, 213, 237);
}

.question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.form {
  margin: 0.655rem;
}

.welcome {
  color: azure;
  font-size: 2.7rem;
}

.email,
.password {
  width: 100%;
}

.email,
.password,
.remember,
.forgotpassword {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  color: azure;
}

.remember {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.forgotpassword {
  color: #655ad8;
  text-decoration: none;
}

.email,
.password,
.username-input,
.password-input {
  font-weight: 600;
}

.partition {
  color: azure;
}

.mindful {
  margin-top: 1rem;
}

.mindful-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20rem;
}

.email,
.password {
  display: flex;
  gap: 1rem;
}

.remember-sec-1 {
  display: flex;
  justify-content: center;
}

.create {
  color: #655ad8;
  text-decoration: none;
}

.submit-btn {
  width: 100%;
  cursor: pointer;
}

.mindful-logo {
  height: 3rem;
  width: 3rem;
}
